{
  "description": "SIP TRIS SAY LESS 🤫💯💯",
  "image": "ipfs://$IPFS_CID",
  "external_url": "https://pintswap.eth.limo",
  "name": "TRIS ($TOKEN_ID)",
  "attributes": [],
  "background_color": "FFFFFF"
} 
